<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ManagerModel -->
      <package
            uri="at.ac.tuwien.ame.ss2016.man"
            class="mm.ManagerModel.ManagerModelPackage"
            genModel="model/ManagerModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FOMCompositionModel -->
      <package
            uri="at.ac.tuwien.ame.ss2016.fcm"
            class="fcm.FOMCompositionModel.FOMCompositionModelPackage"
            genModel="model/FOMCompositionModel.genmodel"/>
   </extension>

</plugin>
